.cfg

#########################
#		Ignoring Home Dirs	#
#########################

.Xauthority
.bash*
.cache/*
.cargo/*
.dircolors
.dmrc
.dotnet/*
.factorio/*
.gtkrc-2.0
.java/*
.local/*
.mozilla/*
.musicbee/*
.npm/*
.nuget/*
.nvidia-settings-rc
.pki/*
.putty/*
.py/*
.python_history
.rustup/*
.screenlayout/*
.ssh/*
.steam/*
.steam*
.wget-hsts
.xsession*
Documents/*
Downloads/*
Games/*
Pictures/*
dunst-tester.sh
music/*
node_modules/*
package*
repos/*

#################################
#		Ignoring config sub Dirs		#
#################################

.config/Postman/*
.config/autorandr/*
.config/btop/*
.config/htop/*
.config/chromium/*
.config/dconf/*
.config/discord/*
.config/godot/*
.config/gtk*/*
.config/mime*
.config/pulse/*
.config/pavu*
.config/quodlibet/*
.config/startup/*
.config/sublime-music/*
.config/systemd/*
.config/user*

